<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item id="main">
      <ion-avatar slot="start">
        <img src="https://www.flaticon.es/premium-icon/icons/svg/2378/2378384.svg">
      </ion-avatar>
      <ion-label id="main-title">
        Badges
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-progress-bar [value]="1">
  </ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <ion-item id="sub">
          <ion-label id="name">
            <h3>Badges unblocked:</h3>
          </ion-label>
        </ion-item>
        <ion-list>
          <ion-item id="advances" *ngFor="let badge of badges">
            <ion-avatar slot="start">
              <img [src]="badge.image" width="25px" height="25px">
            </ion-avatar>
            <ion-label>
              <h1>{{badge.name}}</h1>
              <h4>{{badge.description}}</h4>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
