ion-label#main-title{

    color:#fbe47b;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    
}
ion-item#main{
    --background:var(--ion-color-dark);
}
ion-content{
    --background: var(--ion-color-dark);
    ion-item{
        --background: var(--ion-color-dark);
    }
    ion-grid{
        --background: var(--ion-color-dark);
        ion-row#photo{
            
            ion-col{
               
                div#photo{
                    padding-top: 20px;
                    padding-bottom: 10px;
                    text-align: center;
                    img#foto{
                        width: 160px;
                        height: 140px;
                        border: 2px solid #fbe47b;
                        border-color: #77003c;
                        border-radius: 0%;
                        box-shadow: 0 0 10px #000000;
                    }
                    ion-item{
                        margin: auto;
                        width: 65px;
                        height: 40px;
                        --background: var(--ion-color-dark);
                        --color:var(--ion-color-light);
                        ion-button {
                            --background:#77003c;
                            --color:#fbe47b;
                        }
                        
                        ion-input{
                            position: absolute;
                            opacity: 0;
                        }
                    }
                    
                }
            }
        }
        ion-row#data{     
            background: var(--ion-color-dark);
            ion-col{
                ion-item{
                    width: 500px;
                    margin: auto;
                    --background: var(--ion-color-dark);

                    ion-label{
                        font-family: 'Russo One', sans-serif;
                        h2{
                            color:var(--ion-color-light);
                        }
                        h4{
                            color:#fbe47b;
                        }
                        
                    }
                }
            }
        }
    }
}

