<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item id="main">
      <ion-avatar slot="start">
        <img src="https://www.flaticon.es/premium-icon/icons/svg/2378/2378384.svg">
      </ion-avatar>
      <ion-label id="main-title">
        Badges
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let badge of badges">
      <ion-label>
        <h1>{{badge.name}}</h1>
        <h3>{{badge.description}}</h3>
        <img [src]="badge.image">
        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
