<ion-header>
  <ion-toolbar id="tool">
    <ion-img id="logo" src="https://image.flaticon.com/icons/svg/478/478939.svg"></ion-img>

    <ion-label id = "title-app">
      DEVLEARNING
    </ion-label>
  </ion-toolbar>
</ion-header>
<div id="main-title">
  <ion-title id="login">LOGIN</ion-title>
</div>

<ion-img class="img_session" src="https://image.flaticon.com/icons/png/512/2922/2922518.png"></ion-img>

<div id="center">
        <ion-item>
          <ion-input placeholder="Username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Password" type="Password"></ion-input>
        </ion-item>
</div>

<div *ngIf="auth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
  <button (click)="loginPhone()">Login with Phone</button>
</ng-template>

<div id="button">
  <ion-button color="warning" >LOGIN</ion-button>
</div>

