
ion-menu ion-item {
  --padding-start: 5px;
  --padding-end: 5px;
  border-radius: 4px;
  
}

ion-split-pane{ 
    --border: none !important;
    --side-max-width:300px;
    ion-menu{
     --background: var(--ion-color-dark) !important; 
     border-right: 3px solid var(--ion-color-step-150,#77003c);
        ion-content#Main-Menu{            
            --background: ; 
            --padding-top: 10px;
            --padding-bottom: 20px;
            ion-list#inbox-list{
              font-size: 22px;
              font-weight: 600;
              min-height: 20px;
              background: transparent !important;
                div#img1{
          
                  // margin: auto;
                  margin-left: 0em;
                  // text-align: center;
                  width: 300px;
                  height: 120px;
                  // background-color:#fbe47b;
                  border-radius: 5%;
                  img{
                    width: 300px;
                    margin: auto;
                    padding:0px ;
                  }
                }
                ion-grid{
                  ion-row{
                    ion-col#foto{
                      div#photo{
                        // padding-top: 10px;
                        padding-bottom: 10px;
                        text-align: center;
                        img#foto{
                            width: 80px;
                            height: 80px;
                            border: 3px solid #f8b607;
                            border-color:#000000;
                            box-shadow: 0 0 10px #000000;
                            border-radius: 50px;
                        }
                      }
                    }
                    ion-col#name{
                      margin-top: 12px;
                      ion-label#name{
                        margin-top: 10px;
                        font-family: 'Russo One', sans-serif;
                        h4{
                          color:#77003c;
                          font-size: 12px;
                        }
                        h3{
                          font-size: 12px;
                        }
                      }
                    }
                  }
                }
                ion-item#itemsmenu{
                  --background: var(--ion-color-dark);
                  --background-activated:#fbe47b;
                  border-left: 3px solid var(--ion-color-step-150,#77003c);
                  margin-bottom: 2px;
                  font-weight: 500;
                  --color: #FFFFFF !important;
                  ion-icon{ padding-right: 10px !important; }
                  ion-label{
                    font-family: 'Russo One', sans-serif;
                  }
                }
                ion-item#itemsmenu.selected {
                  --color:var(--ion-color-warning);
                  --background: linear-gradient(to right,var(--ion-color-dark), #fbe47b);
                  border-left: 3px solid var(--ion-color-step-150,#fbe47b);
                  color: white;
                }
            }
            div#button{
              padding-top: 10px;
              padding-right: 150px;
              text-align:right;
              ion-button#lo{
                  font-family: 'Russo One', sans-serif;
                  --background:#77003c;
                  --color:#fbe47b;
                  border:1px solid;
              }
          }
        }
    }
}
div#footer{
  background: var(--ion-color-dark);
  color: #fff;
  h2{
      color: rgba(155, 13, 168, 0.808);
      font-family: 'Russo One', sans-serif;
  }
}