<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item id="main">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/1693/1693487.svg">
      </ion-avatar>
      <ion-label id="main-title">
        Trainings
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-progress-bar [value]="1">
</ion-progress-bar>
<ion-segment [(ngModel)]="section">
  <ion-segment-button value="Mytrainings">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://www.flaticon.com/premium-icon/icons/svg/2369/2369399.svg">
      </ion-avatar>
      <ion-label>My Trainings</ion-label>
    </ion-item>
  </ion-segment-button>
    <ion-segment-button value="CSharp">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://www.flaticon.com/premium-icon/icons/svg/2369/2369399.svg">
        </ion-avatar>
        <ion-label>C#</ion-label>
      </ion-item>
    </ion-segment-button>
    <ion-segment-button value="Java">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://www.flaticon.com/premium-icon/icons/svg/2369/2369399.svg">
        </ion-avatar>
        <ion-label>JAVA</ion-label>
      </ion-item>
    </ion-segment-button>
    <ion-segment-button value="Php">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/2646/2646775.svg">
        </ion-avatar>
        <ion-label>PHP</ion-label>  
      </ion-item>
    </ion-segment-button>
</ion-segment>


<ion-content>

  <div id="MyTrainings" *ngIf="section=='Mytrainings'">
    <ion-list>
      <ion-item *ngFor="let training of mytrainings"><!--| async  para observable-->
        <ion-avatar slot="start">
          <img [src]="training.icon">
        </ion-avatar>
        <ion-label>
          <p id="title">{{training.title}}</p>
          <p>{{training.desc}}</p>
          <h4>Sintax: {{training.sintax}}</h4>
          <ion-button>
            Try {{training.title}}
          </ion-button>
        </ion-label>
        
      </ion-item>
    </ion-list>
  </div>


  <div *ngIf="section=='CSharp'">
    <ion-list>
      <ion-item *ngFor="let training of languagesCsharp"><!--| async  para observable-->
        <ion-avatar slot="start">
          <img [src]="training.icon">
        </ion-avatar>
        <ion-label>
          <p id="title">{{training.title}}</p>
          <p>{{training.desc}}</p>
          <h4>Sintax: {{training.sintax}}</h4>
          <ion-button>
            Try {{training.title}}
          </ion-button>
        </ion-label>
        
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="section=='Java'">
    <ion-list>
      <ion-item *ngFor="let training of languagesJava"><!--| async  para observable-->
        <ion-avatar slot="start">
          <img [src]="training.icon">
        </ion-avatar>
        <ion-label>
          <h3>{{training.language}}</h3>
          <p id="title">{{training.title}}</p>
          <p>{{training.desc}}</p>
          <h4>Sintax: {{training.sintax}}</h4>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="section=='Php'">
    <ion-list>
      <ion-item *ngFor="let training of languagesPhp"><!--| async  para observable-->
        <ion-avatar slot="start">
          <img [src]="training.icon">
        </ion-avatar>
        <ion-label>
          <h3>{{training.language}}</h3>
          <p id="title">{{training.title}}</p>
          <p>{{training.desc}}</p>
          <h4>Sintax: {{training.sintax}}</h4>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
