ion-label#main-title{

    color:#fbe47b;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    
}
ion-item#main{
    --background:var(--ion-color-dark);
}
ion-segment{
    ion-segment-button{
      --background-checked:linear-gradient(to top, #fbe47b, var(--ion-color-dark));
      --background: var(--ion-color-dark);
      ion-item{
        margin-bottom:5px ;
        --background: transparent;
        ion-avatar{
          --border-radius: 0;
          img{
            width: 40px;
            height: 40px;
          }
        }
        ion-label{
          color:white;
          font-family: 'Russo One', sans-serif;
          font-size: 15px;
        }
      }
    }
  }

  
ion-content{
    --background: var(--ion-color-dark);
    
    div#MyTrainings{
      ion-grid{
        ion-row{
          ion-col{
            ion-list{
              background: var(--ion-color-dark);
              ion-item{
                --background: var(--ion-color-dark);
                border-bottom: #fbe47b solid 2px;
                ion-avatar{
                  --border-radius: 0;
                }
                ion-label{
                  ion-button{
                    font-family: 'Russo One', sans-serif;
                    --background:#77003c;
                    --color:#fbe47b;
                    border:1px solid;
                  }
                }
                p#title-c{
                    color:#ffd863;
                    font-size: 17px;
                    font-family: 'Russo One', sans-serif;
                }
                p#title-p{
                  color:#1273eb;
                  font-size: 17px;
                  font-family: 'Russo One', sans-serif;
                }
                p#title-j{
                  color:#b3404a;
                  font-size: 17px;
                  font-family: 'Russo One', sans-serif;
                }
                p#title-m{
                  color:#00a745;
                  font-size: 17px;
                  font-family: 'Russo One', sans-serif;
                }
                h3, p{
                  width: 70%;
                  justify-content: left;
                  text-align: left;
                  color: white;
                  font-family: sans-serif;
                }
                h4{
                  width: 70%;
                  color: rgb(173, 173, 173);
                  font-family: sans-serif;
                }
        
            }
            }
          }
        }
      }
      
    }
    div#CSharp{
      ion-grid{
        ion-row{
          ion-col{
            ion-list{
              background: var(--ion-color-dark);
              ion-item{
                --background: var(--ion-color-dark);
                border-bottom: #fbe47b solid 2px;
                ion-avatar{
                  --border-radius: 0;
                }
                ion-label{
                  ion-button{
                    font-family: 'Russo One', sans-serif;
                    --background:#77003c;
                    --color:#fbe47b;
                    border:1px solid;
                  }
                }
                p#title-c{
                    color:#ffd863;
                    font-size: 17px;
                    font-family: 'Russo One', sans-serif;
                }
                p#title-p{
                  color:#1273eb;
                  font-size: 17px;
                  font-family: 'Russo One', sans-serif;
                }
                p#title-j{
                  color:#b3404a;
                  font-size: 17px;
                  font-family: 'Russo One', sans-serif;
                }
                p#title-m{
                  color:#00a745;
                  font-size: 17px;
                  font-family: 'Russo One', sans-serif;
                }
                h3, p{
                  width: 70%;
                  justify-content: left;
                  text-align: left;
                  color: white;
                  font-family: sans-serif;
                }
                h4{
                  width: 70%;
                  color: rgb(173, 173, 173);
                  font-family: sans-serif;
                }
        
            }
            }
          }
        }
      }

    }
    div#Java{
      ion-grid{
        ion-row{
          ion-col{
            ion-list{
              background: var(--ion-color-dark);
              ion-item{
                --background: var(--ion-color-dark);
                border-bottom: #b3404a solid 2px;
                ion-avatar{
                  --border-radius: 0;
                }
                ion-label{
                  ion-button{
                    font-family: 'Russo One', sans-serif;
                    --background:#77003c;
                    --color:#fbe47b;
                    border:1px solid;
                  }
                }
                p#title-c{
                    color:#ffd863;
                    font-size: 17px;
                    font-family: 'Russo One', sans-serif;
                }
                p#title-p{
                  color:#1273eb;
                  font-size: 17px;
                  font-family: 'Russo One', sans-serif;
                }
                p#title-j{
                  color:#b3404a;
                  font-size: 17px;
                  font-family: 'Russo One', sans-serif;
                }
                p#title-m{
                  color:#00a745;
                  font-size: 17px;
                  font-family: 'Russo One', sans-serif;
                }
                h3, p{
                  width: 70%;
                  justify-content: left;
                  text-align: left;
                  color: white;
                  font-family: sans-serif;
                }
                h4{
                  width: 70%;
                  color: rgb(173, 173, 173);
                  font-family: sans-serif;
                }
        
            }
            }
          }
        }
      }
      
    }
    div#Php{
      ion-grid{
        ion-row{
          ion-col{
            ion-list{
              background: var(--ion-color-dark);
              ion-item{
                --background: var(--ion-color-dark);
                border-bottom: #1273eb solid 2px;
                ion-avatar{
                  --border-radius: 0;
                }
                ion-label{
                  ion-button{
                    font-family: 'Russo One', sans-serif;
                    --background:#77003c;
                    --color:#fbe47b;
                    border:1px solid;
                  }
                }
                p#title-c{
                    color:#ffd863;
                    font-size: 17px;
                    font-family: 'Russo One', sans-serif;
                }
                p#title-p{
                  color:#1273eb;
                  font-size: 17px;
                  font-family: 'Russo One', sans-serif;
                }
                p#title-j{
                  color:#b3404a;
                  font-size: 17px;
                  font-family: 'Russo One', sans-serif;
                }
                p#title-m{
                  color:#00a745;
                  font-size: 17px;
                  font-family: 'Russo One', sans-serif;
                }
                h3, p{
                  width: 70%;
                  justify-content: left;
                  text-align: left;
                  color: white;
                  font-family: sans-serif;
                }
                h4{
                  width: 70%;
                  color: rgb(173, 173, 173);
                  font-family: sans-serif;
                }
        
            }
            }
          }
        }
      }
      
    }

}


