<ion-header>
  <ion-toolbar id="tool">
    <ion-img id="logo" src="https://image.flaticon.com/icons/svg/478/478939.svg"></ion-img>

    <ion-label id = "title-app">
      DEVLEARNING
    </ion-label>
  </ion-toolbar>
</ion-header>

<div id="main-title">
  <ion-title id="login">LOGIN</ion-title>
  <div>
    <ion-img class="img_session" src="https://image.flaticon.com/icons/png/512/2922/2922518.png"></ion-img>
  </div>
</div>

<div id="center">
  
  <div *ngIf="auth.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <ion-label>Please Login! :D</ion-label>
    <div id="Google-EP">
      <ion-button (click)="loginGoogle()" color="warning">Login with Google</ion-button>
      <ion-button (click)="loginMetod(true)" color="warning">Login E/P</ion-button>
    </div>
    
    <div *ngIf="EP==true; then thenBlock else elseBlock">
      
    </div>
    <ng-template #thenBlock>
      <form #formulario="ngForm" (ngSubmit)="onSubmit()">
        <ion-list id="center">
          <ion-list-header>
            <ion-label>{{formulario.valid}}</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="user.email" name="email" 
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" type="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input [(ngModel)]="user.password" name="password" type="Password" required></ion-input>
          </ion-item>
        </ion-list>
        <div id="login">
          <ion-button color="warning" type="submit">LOGIN</ion-button>
        </div>
      </form>
    </ng-template>
  </ng-template>
</div>





