ion-label#main-title{

    color:#fbe47b;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    
}
ion-item#main{
    --background:var(--ion-color-dark);
}
ion-content{
    --background: var(--ion-color-dark);
    ion-item{
        --background: var(--ion-color-dark);
        --color:var(--ion-color-light);
    }
}
