
ion-menu ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  
}

ion-split-pane{ 
    --border: none !important;
    --side-max-width:80px;
    --background: var(--ion-color-dark);
    ion-menu{
     --background: var(--ion-color-dark) !important; 
     border-right: 3px solid var(--ion-color-step-150,#f8b607);
        ion-content#Main-Menu{            
            --background: transparent !important; 
            --padding-start: 8px;
            --padding-end: 8px;
            --padding-top: 20px;
            --padding-bottom: 20px;
            ion-list#inbox-list{
                font-size: 22px;
                font-weight: 600;
                --background: var(--ion-color-dark);
                min-height: 20px;
                background: transparent !important;
                div#photo{
                  padding-top: 10px;
                  padding-bottom: 10px;
                  text-align: center;
                  img#foto{
                      width: 140px;
                      height: 140px;
                      border: 2px solid #f8b607;
                      border-color: #0261fd;
                      border-radius: 30%;
                      box-shadow: 0 0 10px #000000;
                  }
                }
                ion-label#name{
                  font-family: 'Russo One', sans-serif;
                  font-size: 15px;
                  h4{
                    color:#0261fd;
                  }
                }
                ion-item#title{
                  --background: var(--ion-color-dark);
                  ion-label#main-title {
                    color:blueviolet;
                    font-family: 'Russo One', sans-serif;
                    font-size: 20px;
                  }
                }
                ion-item#itemsmenu{
                  --background: var(--ion-color-dark);
                  margin-bottom: 2px;
                  font-weight: 700;
                  --background: #585858 !important;
                  --color: #FFFFFF !important;
                  ion-icon{ padding-right: 10px !important; }
                  ion-label{
                    font-family: 'Russo One', sans-serif;
                  }
                }
                ion-item#itemsmenu.selected {
                  --color:var(--ion-color-warning);
                  --background:var(--ion-color-warning);
                  color: #f8b607;
                  --background: rgba(var(--ion-color-warning), 0.5);
                }
            }
        }
    }
}
div#footer{
  background: var(--ion-color-dark);
  color: #fff;
  h2{
      color: rgba(155, 13, 168, 0.808);
      font-family: 'Russo One', sans-serif;
  }
}