
ion-header{
    padding-top: 20px;
    text-align: center;
    background: var(--ion-color-dark);
    border-bottom: solid 2px;
    border-bottom-color: #0261fd;
    ion-img#logo{
        height: 70px;
        width: 70px;
        margin:auto;
    }
    ion-label#title-app{
        color:rgba(155, 13, 168, 0.808);
        font-family: 'Russo One', sans-serif;
        font-size: 35px;
    }
}



ion-content#center{
    --background: #fff url('../../../../resources/login.jpg') no-repeat center center / cover;
        div#main-title{
            color:#0261fd;
            font-family: 'Russo One', sans-serif;
            text-align: center;
            padding-top: 10px;
            ion-title#login{
                font-size: 30px;
                padding-bottom: 20px;
            }
         .img_session{
        
                height: 140px;
                width: 140px;
                border: 2px solid #f8b607;
                border-color: #0261fd;
                border-radius: 30%;
                box-shadow: 0 0 10px #000000;
                background-color: #f8b607;
                margin: auto;
                padding-top: 10px;
                }
        }
        div#center{
            text-align: center;
            ion-label{
                color: rgba(155, 13, 168, 0.808);
                font-family: 'Russo One', sans-serif;
            }
            ion-item{
                padding-top: 30px;
                margin: auto;
                width: 300px;
                text-align: center;
                ion-label#welcome{
                    color: black;
                    font-family: 'Russo One', sans-serif;
                }
                ion-button{
                    font-family: 'Russo One', sans-serif;
                }
            }
            div#Google-EP{
                padding-top: 20px;
                text-align: center;
                ion-button{
                    font-family: 'Russo One', sans-serif;
                    ion-avatar{
                        padding-right: 10px;
                        img{
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
            }
            ion-list#center{
                text-align: center;
                width: 320px;
                margin: auto;
                background-color:rgba(155, 13, 168, 0.808);
                ion-item{
                    margin: auto;
                    width: 300px;
                    padding-bottom: 10px;
                    height: 60px;
                    ion-input{
                        height: 10px;
                    }
                }
                
            }
            div#login{
                padding-top: 20px;
                text-align: center;
                ion-button{
                    font-family: 'Russo One', sans-serif;
                }
            }
        }
        form{
            padding-top: 20px;
        }
   
}
div#footer{
    background: var(--ion-color-dark);
    color: #fff;
    h2{
        color: rgba(155, 13, 168, 0.808);
        font-family: 'Russo One', sans-serif;
    }
}











