<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/1693/1693487.svg">
      </ion-avatar>
      <ion-label id="main-title">
        Challenges
      </ion-label>
    </ion-item>
    </ion-list>
    
  </ion-toolbar>
</ion-header>
<ion-content>

  <div id ="Dev-content">

    <ion-list>
      <ion-item id="Console-Settings">
        <ion-item id="Color-Selector">
          <ion-select placeholder="Color Theme" (ionChange)="onChangeColor($event)">
            <ion-select-option value="Dark" >
              Dark
            </ion-select-option>
            <ion-select-option value="Light">
              Light
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item>

        <ion-textarea id ="{{color}}">
        </ion-textarea>

    </ion-list>

    <ion-button id="Compile-Button" (click)="compile()" color="warning">Compile</ion-button>
  </div>


</ion-content>



