<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/1693/1693487.svg">
      </ion-avatar>
      <ion-label id="main-title">
        Challenges
      </ion-label>
    </ion-item>
    </ion-list>
    
  </ion-toolbar>
</ion-header>

<ion-button (click)="compile()" color="warning">Compilar</ion-button>

