<ion-header>
    <ion-item id="main">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/1693/1693487.svg">
      </ion-avatar>
      <ion-label id="main-title">
        Challenges
      </ion-label>
    </ion-item>
</ion-header>
<ion-content>

  <ion-list id="challenges-list">
    <ion-item *ngFor="let challenge of challenges "><!--| async  para observable-->
      <ion-avatar slot="start">
        <img [src]="challenge.icon">
      </ion-avatar>
      <ion-label>
        <h3>{{challenge.language}}</h3>
        <h4>{{challenge.level}}</h4>
        <h4>{{challenge.title}}</h4>
        <p>{{challenge.content}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div id ="Dev-content">

    <ion-list>
      <ion-item id="Console-Settings">
        <ion-button id="Color-Selector">
          <ion-select id="CS" placeholder="Color Theme" (ionChange)="onChangeColor($event)">
            <ion-select-option value="Dark" >
              Dark
            </ion-select-option>
            <ion-select-option value="Light">
              Light
            </ion-select-option>
          </ion-select>
        </ion-button>
        <ion-button id="Language-Selector">
          <ion-select id="LS" placeholder="Select Language" (ionChange)="SelectLanguage($event)">
            <ion-select-option value="php" >
              PHP
            </ion-select-option>
            <ion-select-option value="csharp">
              C#
            </ion-select-option>
          </ion-select>
        </ion-button>
      </ion-item>

        <ion-textarea rows="15" cols="20"  spellcheck="false" [(ngModel)]="inputCode" id ="{{color}}">
        </ion-textarea>

    </ion-list>

    <div id="button">
      <ion-button id="Compile-Button" (click)="compile()" color="warning">&nbsp;Compile
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </div>

  </div>


</ion-content>



