ion-header{
    ion-item#main{
        --background:var(--ion-color-warning);
        ion-label#main-title{
            color:#0b7375;
            font-family: 'Russo One', sans-serif;
            font-size: 20px;
        }
    }
}

ion-content{
    --background: var(--ion-color-dark);
    ion-avatar{
        --border-radius: 0%;
    }
    div#Dev-content{
        padding-top: 20px;
        ion-list{
            ion-item#Console-Settings{
                --background: var(--ion-color-warning);
                --min-height: 50px;
                width: 1000px;
                margin:auto;
                ion-button#Color-Selector{
                    --background: var(--ion-color-dark);
                    --color:var(--ion-color-light);
                    --min-height: 40px;
                    width: 300px;                    
                    ion-select#CS{
                        --background: var(--ion-color-dark);
                        color:#ffffff;
                        --placeholder-color: #ffffff;
                        font-family: 'Russo One', sans-serif;
                        --placeholder-opacity: 10;
                        font-size: 10px;
                    }
                }
                ion-button#Language-Selector{
                    --background: var(--ion-color-dark);
                    --color:--ion-color-light;
                    --min-height: 40px;
                    width: 400px;
                    ion-select#LS{
                        --background: var(--ion-color-dark);
                        color:#ffffff;
                        --placeholder-color: #ffffff;
                        font-family: 'Russo One', sans-serif;
                        --placeholder-opacity: 10;
                        font-size: 10px;
                    }
                }
            }
        }
        ion-textarea#Dark{
            width: 1000px;
            height: 300px;
            margin: auto;
            --color:var(--ion-color-light);
            --background: var(--ion-color-dark);
        }  
        ion-textarea#Light{
            width: 1000px;
            height: 300px;
            margin: auto;
            --background: var(--ion-color-light);
        }
        div#button{
            padding-top: 10px;
            padding-right: 150px;
            text-align:right;
            ion-button#Compile-Button{
                font-family: 'Russo One', sans-serif;
            }
        }
    }
}




