ion-label#main-title{

    color:#0b7375;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    
}
ion-item#main{
    --background:var(--ion-color-warning);
}
ion-content{
    --background: var(--ion-color-dark);
}
ion-item{
    --background: var(--ion-color-dark);
    --color:var(--ion-color-light);
}
