<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item id="main">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/2328/2328666.svg">
      </ion-avatar>
      <ion-label id="main-title">
        Account
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-progress-bar [value]="percent/100">
  CARGANDO
  </ion-progress-bar>
  <div>
    <img [src]="url" alt="imagen_cargada" width="300" height="150">
  </div>
  <input type="file" (change)="uploadFile($event)">
  <h1>{{currentUser}}</h1>
  
  <div>{{percent}}</div>
  <!--<div>{{uploadPercent | async}}</div> <a [href]="downloadURL | async">{{ downloadURL | async }} <img [src]="downloadURL | async" alt="imagen_cargada"></a>-->
  

  <ion-list>
    <ion-item *ngFor="let file of uploadFiles">
      <ion-label>
        <h1>creado el: {{file.created_at.toDate() | date: 'dd MMM hh:mm' }}</h1>
        <img [src]="file.file" alt="Archivo">
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item *ngFor="let user of users" (click)="userSelected(user)">
      <ion-label>
        <h1>{{user.name}}</h1>
        <h3>{{user.id}}</h3>
        <p>{{user.email}}</p>
        <p>{{user.phoneNumber}}</p>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-button (click)="mostrarHoja()">Mostrar hoja</ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>
        users
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-select placeholder="Elige un usuario">
        <ion-select-option *ngFor="let user of users" value="user.title">
          {{user.title}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
  
