<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item id="main">
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/svg/2614/2614724.svg">
      </ion-avatar>
      <ion-label id="main-title">
        Home
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-progress-bar [value]="1">
  </ion-progress-bar>
  <ion-item id="name">
    <ion-label id="name">
      <h4>Welcome </h4>
      <h3>{{user_name.name}}</h3>
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <ion-item id="sub">
          <ion-label id="name">
            <h3>Blocked advances:</h3>
          </ion-label>
        </ion-item>
        <ion-list>
          <ion-item id="advances" *ngFor="let advance of advances ">
            <ion-avatar slot="start">
              <img [src]="advance.icon" width="25px" height="25px">
            </ion-avatar>
            <ion-label>
              <h1>{{advance.titlestart}}</h1>
              <h4>{{advance.descstart}}</h4>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="5">
        <ion-item id="sub">
          <ion-label id="name">
            <h3>Blocked advances:</h3>
          </ion-label>
        </ion-item>
        <ion-list>
          <ion-item id="advances" *ngFor="let advance of advances ">
            <ion-avatar slot="start">
              <img [src]="advance.icon" width="25px" height="25px">
            </ion-avatar>
            <ion-label>
              <h1>{{advance.titlestart}}</h1>
              <h4>{{advance.descstart}}</h4>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
